/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  font-size: 50px;

}

table, td {
  border: 6px solid black;
  border-collapse: collapse;
}

td {
  padding: 70px;
}

td:hover {
  background-color: rgb(244, 218, 170);
}




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
