/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
header {
  background: black;
  color: white;
}
nav li {
  float: left;
  padding: 0 20px;
  list-style-type: none; 
}

/******************************************
/* LAYOUT
/*******************************************/
.col-1-3 {
  width: 33.33%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
