/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
nav {
  color: gray;
}

.primary img {
  width: 500px;
  height: auto;
}


/******************************************
/* LAYOUT
/*******************************************/
nav, 
main, 
section {
  float: left;
}
nav {
  width: 10%;
}

.primary {
  width: 50%;
}

.secondary {
  width: 40%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
