* {
  box-sizing: border-box;
}

/********* header *********/
h1{
  color: black;
  font-size: 55px;

}

/********* input & button *********/
input, button{
  margin: 20px;

}
button{
  color: black;
  background-color: rgb(93, 123, 240)
}

/********* img *********/
img{
  height: 500px;
}


/********* Result *********/
h2{
  color: black
}




